* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.nav-bar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}

.nav-bar .logo {
  font-weight: 500;
  font-size: 30px;
  padding-left: 10vh;
}

.nav-bar .logo a {
  color: black;
}

.nav-bar .menu {
  padding-top: 13px;
  padding-right: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav-bar .menu li {
  padding-right: 5vh;
}

.nav-bar .menu li a {
  color: black;
  font-weight: 500;
}

.hero h3 {
  padding-left: 50px;
}

.hero .berita {
  padding-left: 50px;
  display: flex;
}

.hero .berita img {
  height: 200px;
  width: 200px;
  background-color: aqua;
}

/*Pengajuan Izin*/
.form-izin {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 150vh;
  width: 100%;
  background-color: #1d54ad;
}

.form {
  margin-top: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input {
  width: 100%;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h3:nth-child(1) {
  margin: 0 0 10px 0;
  text-align: center;
}

.form-izin .form form h3{
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
}

.form-izin .form input {
  width: 95%;
}

.form-izin .form .jam1,
.form-izin .form .jam2 {
  width: 41%;
}

.form-izin .form .t-tombol {
    display: flex;
    justify-content: space-between;
}

.form-izin .form .tombol {
  margin-top: 12px;
  width: 100px;
  border-radius: 5px;
}
