* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.nav-bar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}

.nav-bar .logo {
  font-weight: 500;
  font-size: 30px;
  padding-left: 10vh;
}

.nav-bar .logo a {
  color: black;
}

.nav-bar .menu {
  padding-top: 13px;
  padding-right: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav-bar .menu li {
  padding-right: 5vh;
}

.nav-bar .menu li a {
  color: black;
  font-weight: 500;
}

.hero h3 {
  padding-left: 50px;
}

.hero .berita {
  padding-left: 50px;
  display: flex;
}

.hero .berita img {
  height: 200px;
  width: 200px;
  background-color: aqua;
}

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/*Pengajuan Izin*/ 
.form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-izin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #1d54ad;
}

form {
  display: flex;
  flex-direction: column;
}

label, input {
  width: 100%;
}

label {
  margin-top: 10px;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"] {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}